:root {
  --night-blue: #03045e;
  --darker-blue: #00b4d8;
  --sky-blue: #90e0ef;
  --light-blue: #caf0f8;
  --default-font-family: "Comfortaa", cursive;
  --heading-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  background-color: var(--light-blue);
  padding-bottom: 30px;
}
.hero {
  background-color: var(--light-blue);
  color: var(--night-blue);
  text-align: center;
  padding: 180px 20px;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-style: italic;
  font-size: 96px;
  margin: 20px;
}
.hero h2,
.hero h3 {
  margin-left: 10rem;
  padding: 20px;
}
.hero h2 {
  font-size: 48px;
}
.hero h3 {
  font-size: 36px;
}
.btn-branding {
  background-color: var(--sky-blue);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin: 20px;
}
.btn-branding:hover {
  color: var(--night-blue);
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 52px;
  }
  .hero h2 {
    font-size: 36px;
  }
  .hero h3 {
    font-size: 24px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-heading {
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .about-img {
    max-width: 75%;
    margin-top: 50px;
  }
}
.portfolio-heading {
  font-family: var(--heading-font-family);
  font-size: 40px;
  color: var(--night-blue);
  padding: 50px 20px;
}
.project-heading {
  font-family: var(--heading-font-family);
  font-size: 30px;
  margin-top: 20px;
  color: var(--night-blue);
}
.project-description {
  color: var(--darker-blue);
  text-align: center;
  padding-top: 30px;
}
.col-sm > p {
  padding: 50px 70px;
  color: var(--darker-blue);
}

.hi-name {
  font-size: 72px;
}
.about-heading {
  font-family: var(--heading-font-family);
  font-size: 48px;
  color: var(--night-blue);
  padding: 50px 20px;
}
.about-description {
  color: var(--darker-blue);
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  line-height: 1.5em;
}
.about-section {
  padding: 180px 20px;
}
.about-section-content {
  margin: 30px;
}

.col-sm > h2 {
  color: var(--night-blue);
  font-family: var(--heading-font-family);
}
.working > ul {
  color: var(--darker-blue);
  text-align: center;
  list-style: none;
}

.details-about-me {
  margin-bottom: 40px;
}
